--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3 (Debian 16.3-1.pgdg120+1)
-- Dumped by pg_dump version 16.3 (Debian 16.3-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.app_user (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    displayname character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    fname character varying(255),
    img_url character varying(255),
    modified_at timestamp(6) without time zone,
    name character varying(255),
    password character varying(255) NOT NULL,
    roles character varying(255) NOT NULL
);


ALTER TABLE public.app_user OWNER TO librasdb;

--
-- Name: app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: librasdb
--

ALTER TABLE public.app_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: author; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.author (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.author OWNER TO librasdb;

--
-- Name: author_id_seq; Type: SEQUENCE; Schema: public; Owner: librasdb
--

ALTER TABLE public.author ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.author_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: book; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.book (
    id bigint NOT NULL,
    created_at date NOT NULL,
    date_end date,
    date_start date NOT NULL,
    external_id character varying(255),
    is_completed boolean NOT NULL,
    modified_at date,
    names character varying(255) NOT NULL,
    nb_visit integer NOT NULL,
    nb_volume integer NOT NULL,
    note numeric(38,2),
    synopsis text,
    img_url character varying(255),
    french_search_name character varying(255)
);


ALTER TABLE public.book OWNER TO librasdb;

--
-- Name: book_author; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.book_author (
    book_id bigint NOT NULL,
    author_id bigint NOT NULL
);


ALTER TABLE public.book_author OWNER TO librasdb;

--
-- Name: book_id_seq; Type: SEQUENCE; Schema: public; Owner: librasdb
--

ALTER TABLE public.book ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.book_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: book_tag; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.book_tag (
    book_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public.book_tag OWNER TO librasdb;

--
-- Name: comment; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.comment (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    modified_at timestamp(6) without time zone NOT NULL,
    note numeric(38,2),
    app_user_id bigint NOT NULL
);


ALTER TABLE public.comment OWNER TO librasdb;

--
-- Name: comment_id_seq; Type: SEQUENCE; Schema: public; Owner: librasdb
--

ALTER TABLE public.comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comment_likes; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.comment_likes (
    comment_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.comment_likes OWNER TO librasdb;

--
-- Name: related_books; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.related_books (
    book_id bigint NOT NULL,
    related_book_id bigint NOT NULL
);


ALTER TABLE public.related_books OWNER TO librasdb;

--
-- Name: tag; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.tag (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.tag OWNER TO librasdb;

--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: public; Owner: librasdb
--

ALTER TABLE public.tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_book_info; Type: TABLE; Schema: public; Owner: librasdb
--

CREATE TABLE public.user_book_info (
    id bigint NOT NULL,
    current_volume integer,
    note integer NOT NULL,
    status smallint,
    app_user_id bigint NOT NULL,
    book_id bigint NOT NULL,
    CONSTRAINT user_book_info_status_check CHECK (((status >= 0) AND (status <= 2)))
);


ALTER TABLE public.user_book_info OWNER TO librasdb;

--
-- Name: user_book_info_id_seq; Type: SEQUENCE; Schema: public; Owner: librasdb
--

ALTER TABLE public.user_book_info ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_book_info_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.app_user (id, created_at, displayname, email, fname, img_url, modified_at, name, password, roles) FROM stdin;
5	2024-07-08 12:41:16.327857	quentingoat	quentin@gmail.com	\N	\N	\N	\N	$2a$10$CVPsrLcCDKLpNFGxfNJ56eIhBRKCtQAWm69B0Q0Ii9t8HW6HPvZPq	USER
\.


--
-- Data for Name: author; Type: TABLE DATA; Schema: public; Owner: librasdb
--



--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: librasdb
--



--
-- Data for Name: book_author; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.book_author (book_id, author_id) FROM stdin;
1	1
2	28
2	29
3	24
4	2
6	30
7	30
8	32
9	32
10	31
5	1
\.


--
-- Data for Name: book_tag; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.book_tag (book_id, tag_id) FROM stdin;
3	2
3	11
3	3
4	2
4	4
6	2
6	11
11	1
11	12
11	13
10	2
10	5
10	12
8	2
8	7
8	5
8	3
8	12
2	2
2	10
9	2
9	4
9	7
9	12
7	2
7	9
7	10
5	2
5	11
1	2
1	3
1	5
1	13
1	12
\.


--
-- Data for Name: comment; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.comment (id, content, created_at, modified_at, note, app_user_id) FROM stdin;
\.


--
-- Data for Name: comment_likes; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.comment_likes (comment_id, user_id) FROM stdin;
\.


--
-- Data for Name: related_books; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.related_books (book_id, related_book_id) FROM stdin;
\.


--
-- Data for Name: tag; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.tag (id, name) FROM stdin;
1	Comics
2	Manga
3	Aventure
4	Fantasy
5	Science fiction
6	Thriller
7	Horreur
8	Romance
9	Tranche de vie
10	Sport
11	Historique
12	Surnaturel
13	MystÔö£┬┐re
\.


--
-- Data for Name: user_book_info; Type: TABLE DATA; Schema: public; Owner: librasdb
--

COPY public.user_book_info (id, current_volume, note, status, app_user_id, book_id) FROM stdin;
21	0	0	0	5	8
20	3	1	1	5	1
18	12	6	2	5	5
19	6	2	2	5	2
17	7	7	2	5	10
\.


--
-- Name: app_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: librasdb
--

SELECT pg_catalog.setval('public.app_user_id_seq', 5, true);


--
-- Name: author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: librasdb
--

SELECT pg_catalog.setval('public.author_id_seq', 34, true);


--
-- Name: book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: librasdb
--

SELECT pg_catalog.setval('public.book_id_seq', 11, true);


--
-- Name: comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: librasdb
--

SELECT pg_catalog.setval('public.comment_id_seq', 1, false);


--
-- Name: tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: librasdb
--

SELECT pg_catalog.setval('public.tag_id_seq', 13, true);


--
-- Name: user_book_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: librasdb
--

SELECT pg_catalog.setval('public.user_book_info_id_seq', 21, true);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: author author_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.author
    ADD CONSTRAINT author_pkey PRIMARY KEY (id);


--
-- Name: book_author book_author_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.book_author
    ADD CONSTRAINT book_author_pkey PRIMARY KEY (book_id, author_id);


--
-- Name: book book_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey PRIMARY KEY (id);


--
-- Name: book_tag book_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.book_tag
    ADD CONSTRAINT book_tag_pkey PRIMARY KEY (book_id, tag_id);


--
-- Name: comment_likes comment_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_pkey PRIMARY KEY (comment_id, user_id);


--
-- Name: comment comment_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT comment_pkey PRIMARY KEY (id);


--
-- Name: related_books related_books_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.related_books
    ADD CONSTRAINT related_books_pkey PRIMARY KEY (book_id, related_book_id);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: user_book_info user_book_info_pkey; Type: CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.user_book_info
    ADD CONSTRAINT user_book_info_pkey PRIMARY KEY (id);


--
-- Name: related_books fk25khsp5os652g52ucvy24d6yb; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.related_books
    ADD CONSTRAINT fk25khsp5os652g52ucvy24d6yb FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: comment fk7as5fn8ojg458j11y2an51bjb; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT fk7as5fn8ojg458j11y2an51bjb FOREIGN KEY (app_user_id) REFERENCES public.app_user(id);


--
-- Name: book_author fkbjqhp85wjv8vpr0beygh6jsgo; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.book_author
    ADD CONSTRAINT fkbjqhp85wjv8vpr0beygh6jsgo FOREIGN KEY (author_id) REFERENCES public.author(id);


--
-- Name: comment_likes fkd0epu3dcjc57pwe7lt5jgfqsi; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT fkd0epu3dcjc57pwe7lt5jgfqsi FOREIGN KEY (comment_id) REFERENCES public.comment(id);


--
-- Name: comment_likes fkd7xm1uq54enguaxq5x3lf6da; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT fkd7xm1uq54enguaxq5x3lf6da FOREIGN KEY (user_id) REFERENCES public.app_user(id);


--
-- Name: user_book_info fkddad8h68sdgxuul1x6yncqyve; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.user_book_info
    ADD CONSTRAINT fkddad8h68sdgxuul1x6yncqyve FOREIGN KEY (app_user_id) REFERENCES public.app_user(id);


--
-- Name: book_tag fkdrc33u5ufw8rdvajeveowgx7g; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.book_tag
    ADD CONSTRAINT fkdrc33u5ufw8rdvajeveowgx7g FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: user_book_info fkhc3vbr55y5c37ftxr6bdtogjf; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.user_book_info
    ADD CONSTRAINT fkhc3vbr55y5c37ftxr6bdtogjf FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: related_books fkhgivkgdllukqrww8hub2tovi4; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.related_books
    ADD CONSTRAINT fkhgivkgdllukqrww8hub2tovi4 FOREIGN KEY (related_book_id) REFERENCES public.book(id);


--
-- Name: book_author fkhwgu59n9o80xv75plf9ggj7xn; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.book_author
    ADD CONSTRAINT fkhwgu59n9o80xv75plf9ggj7xn FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: book_tag fkrxw4xl05l6ns1763bq284e7m2; Type: FK CONSTRAINT; Schema: public; Owner: librasdb
--

ALTER TABLE ONLY public.book_tag
    ADD CONSTRAINT fkrxw4xl05l6ns1763bq284e7m2 FOREIGN KEY (tag_id) REFERENCES public.tag(id);


--
-- PostgreSQL database dump complete
--

